* {
    margin: 0;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.box {
    height: 200px;
    width: 200px;
    background: turquoise;
    text-align: center;
}

.square {
    height: 50px;
    width: 50px;
    background: hotpink;
    display: inline-block;
    position: relative;
    top: 75px;
}
