* {
    box-sizing: border-box;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
}

main {
    background: rgb(15, 3, 42);
    flex: 1;
    display: flex;
    justify-content: left;

    padding: 40px;
}

.box {
    margin: 10px;
    flex-basis: 200px;
    max-height: 200px;

    display: flex;
}

.one {
    flex-direction: row-reverse;

    background: rgb(255, 254, 168);
}

.two {
    justify-content: flex-end;

    background: rgb(255, 252, 82);
}

.three {
    flex-direction: column-reverse;
    background: rgb(255, 194, 82);
}

.four {
    background: rgb(255, 151, 82);
}

.square {
    flex: 0 0 50%;
}

.one > .square {
    max-height: 50%;
    background-color: rgb(63, 0, 238);
}

.two > .square {
    width: 50%;
    margin-top: 50%;
    background-color: rgb(45, 0, 128);
}

.three > .square {
    max-width: 50%;
    background-color: rgb(85, 0, 182);
}

.four > .square {
    max-height: 50%;
    background-color: rgb(152, 0, 223);
}
