* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* background: darkkhaki; */
    position: relative;
    padding: 200px 50px;
    text-align: center;
    height: 100vh;
    background: black;
    color: blanchedalmond;
}

#textHere {
    margin: auto;
    width: 500px;
}
