* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: darkkhaki;
    position: relative;
    padding: 200px 50px;
    text-align: center;
}

#textHere {
    margin: auto;
    width: 500px;
}
