    <div class="heading">
        <h1>Welcome to my Portfolio!</h1>
        <h3>Hello {{cohort}} whats uup? ☀</h3>
    </div>
    
    <section class="index">
        {{>projList}}

    </section>

    

{{!-- {{stressImportance "Amazing"}} --}}