/* GENERAL */
body {
    background-color: rgb(30, 30, 30);
    color: white;
    height: 100vh;
}

* {
    margin: 0;
}

h1 {
    font-size: 28pt;
    font-weight: 600;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
}

h2 {
    font-size: 20pt;
    color: black;
}

p {
    font-size: 11pt;
    color: black;
}

::selection {
    color: white;
    background: orange;
}

/* HEADER */
header {
    padding: 10px;
    height: 30px;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
}

#logoBox {
    float: left;
    cursor: pointer;
}

#logo {
    height: 30px;
}

#menu-button {
    float: right;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

/* SLIDER */
#slider {
    height: 66vh;
    background-image: url("assets/spices.jpg");
    background-size: cover;
    text-align: center;
}

#heading {
    position: relative;
    top: 40%;
}

button {
    margin: 10px;
    padding: 5px 30px;
    border: 3pt orange solid;
    border-radius: 21pt;
    background-color: yellow;
    font-size: 21px;
    font-weight: 600;
    color: orange;
    font-family: "Times New Roman", Times, serif;
    cursor: pointer;
}

button:hover {
    background-color: orange;
    color: yellow;
    transition: 0.3s;
}

/* FOOTER */
footer {
    background-color: rgb(172, 172, 172);
    padding: 50px 15vw 0 15vw;
    position: absolute;
}

footer > div > div {
    width: 50%;
    padding-bottom: 25px;
}

footer > div > div:nth-child(odd) {
    float: left;
}

footer > div > div:nth-child(even) {
    float: right;
}

.icon {
    width: 40px;
    margin-top: 0;
    margin-right: 2%;
    vertical-align: top;
    top: -20px;
}

.text {
    width: 80%;
    display: inline-block;
}

/* DARK COLOR SCHEME */
@media (prefers-color-scheme: dark) {
    header,
    footer,
    button {
        background-color: rgb(30, 30, 30);
    }

    h2,
    p {
        color: white;
    }
}

/* RESPONSIVE DESIGN */
@media screen and (min-width: 601px) and (max-width: 800px) {
    h1 {
    }
}
